<!--Hogy használja a base html-t-->
{% extends "base.html" %}

{% block content %}



{% if user.is_authenticated %}
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">Leadó</th>
      <th scope="col">Hiba típusa</th>
      <th scope="col">Rövid leírása</th>
      <th scope="col">Priorítása</th>
      <th scope="col">Létrehozva</th>
      <th scope="col">ID</th>
    </tr>
  </thead>
  <tbody>
    {% if records %}
    {% for record in records %}
    <tr>
        <td>{{ record.leado_neve }}</td>
        <td>{{ record.hardware_vagy_szotver_hiba }}</td>
        <td>{{ record.rovid_leiras }}</td>
        <td>{{ record.prioritasa }}</td>
        <td>{{ record.letrehozva }}</td>
        <td>{{ record.id }}</td>
    </tr>
    {% endfor %}

{% endif %}
  </tbody>
</table>



{% else %}
<h1>Login</h1>
    <br>

<form method="POST" action="{% url 'home' %}">
<!--    https://www.geeksforgeeks.org/csrf-token-in-django/-->
    {% csrf_token %}
  <div class="mb-3">

    <input type="text" class="form-control" name="username", placeholder="Username" required>

  </div>
  <div class="mb-3">
    <input type="password" class="form-control" name="password", placeholder="Password" required>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>

</form>



{% endif %}

{% endblock %}